/* Most used colour variables */
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --violet: #3C3760;
    --partners-colour: #CECCD6; 
    --blue-light: #6657E0;
    --orange: #F6722D;
    
    /* gradient red to orange */
    --red-gradient1: #FE5166;
    --orange-gradient1: #FE9055;
   
    /* gradient orange to red */
    --orange-gradient2: #F2A64C;
    --red-gradient2: #FF7042;
   
    /* gradient white to blue */
    --white-gradient: #9085EA;
    --blue-gradient: #7365E3;
  }
  
  /* section name text */
  
  .section-name {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: var(--violet);
  }
  
  /*  Text between paragraph and section name */
  
    .column-heading-text{
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
      font-size: 30px;
      color: var(--violet);
    }

  /* Column paragraph text */

  .column-paragraph-text {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
  }

  /* Bigger paragraph text in 'Experience section' and 'Get free seo analysis' and so on... */

  .column-paragraph-bigger {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
  }
