/* Most used colour variables */
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --violet: #3C3760;
    --partners-colour: #CECCD6; 
    --blue-light: #6657E0;
    --orange: #F6722D;
    
    /* gradient red to orange */
    --red-orange-gradient: linear-gradient(75deg,#FE5166,#FE9055 80%);
   
    /* gradient orange to red */
    --orange-red-gradient: linear-gradient(96deg,#F2A64C 0%,#FF7042 51%);
   
    /* gradient white to blue */
    --white-blue-gradient: linear-gradient(96deg, #9085EA 0%,#7365E3 51%, #9289f1 100%);
  }
  
  /* section name text */
  
  .section-name {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: var(--violet);
    text-transform: uppercase;
  }
  
  /*  Text between paragraph and section name */
  
    .column-heading-text{
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
      font-size: 30px;
      color: var(--violet);
    }

  /* Column paragraph text */

  .column-paragraph-text {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: var(--violet);
  }

  /* Bigger paragraph text in 'Experience section' and 'Get free seo analysis' and so on... */

  .column-paragraph-bigger {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: var(--violet);
  }
