body {
   position: static;
   left:0px;
   transition: left 0.7s;
}

body.active{
    position: relative;
    left:-50px;
}


 
header.container {
    margin-top:-10px;
    padding:0;
    font-family: 'Rubik', sans-serif;
    font-size:16px;
    position:fixed;
    
    padding-top: 25px;
    padding-bottom: 30px;
    z-index:5;
}

header.scrolled{
    background-color:rgba(255,255,255,0.95);
    box-shadow: -3px 10px 16px -4px rgba(0,0,0,0.09);
}

header.container>div{
    margin: 0px;
}

header.container .row, header.container [class^="col"] {
    margin-top:0;
    margin-bottom:0;
}

.main-header{
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
}

.nav-right{
    display:flex;
    gap:10px;
    justify-content: space-between ;
    align-items: center;;
}

.main-nav{
    display: flex;
    gap: 25px;
    justify-content: end;
    margin-right:25px;
}

.main-nav-item.active {
    color:var(--main-sub-color);
}

.logo img{
    height:48px;
}

.main-header a {
    text-decoration:none;
}


.main-nav-item:hover{
    color:var(--main-sub-color);
}

.with-submenu::after{
    font-family: FontAwesome;
    font-size:12px;
    padding-left: 9px;
    height:3px;
    content: "\f078";

}

/* SUBMENU reikalai */
.menu-item-wrapper{
    position:relative;
}

.main-nav>.menu-item-wrapper:hover>.submenu{
    display:flex;
}

.main-nav>.menu-item-wrapper:hover>.submenu, .main-nav>.menu-item-wrapper>.submenu>.menu-item-wrapper:hover>.submenu {
    display:flex;
}

header .main-nav .submenu {
    padding-top: 50px;
}
.main-nav .submenu {
    display:none;
    flex-direction: column;
    gap:18px;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    padding: 20px 65px 20px 20px;
}

.main-nav .submenu *{
    z-index: 5;
    
}

.main-nav .submenu::after{
    content:'';
    position: absolute;
    z-index: 4;
    width:100%;
    height:90%;
    bottom:0;
    left:0;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 12%);
}

.main-nav .submenu::before{
    content: "";
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #ffffff;
    position: absolute;
    transform: rotate(270deg);
    left: 21px;
    top: 0px;
    z-index: 5;
}

header .main-nav .submenu .submenu{
    padding-top: 0px;
}   
.main-nav .submenu .submenu {
    display: none;
    left:50px;
    top:-20px;
    z-index: 7;
    padding: 20px 65px 20px 125px;
}

.main-nav .submenu .submenu::before{
    display:none;
}

.main-nav .submenu .submenu::after{
    content:'';
    position: absolute;
    z-index: 4;
    width:80%;
    height:110%;
    bottom:0;
    left:100px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 12%);
}

.submenu .with-submenu::after{
    font-family: FontAwesome;
    font-size:12px;
    padding-left: 9px;
    height:3px;
    content: "\f054";

}



/* button pradzia galima sita stiliuka i buttonus panaudo */

.header-button {
    font-size: 10px;
    border-radius: 0.7em;
    color: white;
    
    text-transform: uppercase;
    padding: 15px 24px;
    font-weight: bold;
    transition: background-image 0.9s ease-in-out;

    position: relative;
    background-image: var( --red-orange-gradient);
    z-index: 1;


}

.header-button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.7em;
    background-image:linear-gradient(235deg,#FE5166,#FE9055 80%);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;

}

.header-button:hover::before {
    opacity: 1;
  }


/* button galas galima sita stiliuka i buttonus panaudo */


/* SEARCH ICONKE IR SUBMENIUKAS */
.header-search{
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    margin: 0 15px;
    position: relative;
}

.search-submenu{
    display: none;
    position: absolute;
    top: 41px;
    right: 1px;
    flex-wrap: nowrap;
    gap: 25px;
    padding: 8px 11px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 12%);
}

.search-submenu.active {
    display: flex;
}

.search-submenu input {
    border:none;
}

.search-submenu input[type=text]:focus {
    border: none;
  }

.search-submenu	.cursor {
	position: absolute;
	width: 1px;
	height: 40%;
	background-color: gray;
	left: 13px;
	top: 30%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.search-submenu input:focus{
    outline: none;
}

.search-submenu input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}


.hamburger-wrapp{
    cursor: pointer;
    width: 28px;
    height: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.hamburger-wrapp span {
    display: block;
    width:100%;
    height:2px;
    background-color: var(--main-dark-color);
    transition: width 0.5s;
}

.header-desktop-hamburger:hover .second{
    width:80%;
}

.header-desktop-hamburger:hover .third{
    width:60%;
}

.mobile{
    display:inline-block;
    margin-right: 15px;
}



@media (min-width: 1200px){
    .mobile{
        display: none;
    }
}

@media (max-width: 1200px){
    .desktop{
        display:none;
    }

    .header-desktop-hamburger .first{
        width:60%;
        transform: rotate(130deg);
    }

    .header-desktop-hamburger .second{
        visibility: hidden;
        
    }

    .header-desktop-hamburger .third{
        width:60%;
        transform: rotate(50deg);
    }

    .tablet .hamburger-wrapp {
        gap:0.25em;
        justify-content: start;
        align-items: start;
    }


}

@media (max-width: 768px){
    .tablet{
        display:none;
    }
}


/* Dekstop slidein menu*/

.side-menu-overlay {
    position: absolute;
    z-index: 8;
    top: 10px;
    left: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0;
    background: rgba(0,0,0,0.6);
}

.side-menu-overlay.active{
    visibility: visible;
    cursor: url(../../img/close-icon.png) 16 16,default;
    opacity: 1;
}

.side-menu {
    visibility: hidden;
    position: absolute;
    z-index: 11;
    top: 10px;
    right: -50px;
    width: 0px;
    height: 100vh;
    background-color: #ffffff;
    transition: width 0.4s;
    flex-direction: column;
    gap:20px;
    align-items: flex-start;
    padding: 30px 20px 30px 40px;
    overflow-y: scroll;
    font-size:14px;
}

.side-menu.active {
    visibility: visible;
    display: flex;
    opacity:1;
    width:410px;
}

.side-menu>img {
    height:70px;
    margin-bottom: 40px;

}

.side-menu a{
    text-decoration: none;
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    margin-bottom: 25px;
}

.side-menu a:hover {
    color: var(--main-sub-color);
}

.side-menu a::before{
    font: normal normal normal 14px/1 FontAwesome;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    line-height: 6px;
}

.contacts-block a::before{
    color:var(--violet-elements);
}

.contacts-block h3 {
    margin-bottom: 20px; 
}

.side-menu-form {
    width:100%;
}

.email-form {
    width:100%;
    height: 42px;
    display: flex;
    align-items: center;
}

.side-menu-form .input {
    width:60%;
    display: inline-block;
    box-sizing: border-box;
    height:100%;
    margin: 0;
    /* padding: 0; */
}

.side-menu-form .btn-side-menu {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
    user-select: none;
    cursor: pointer;
    transition: background-image 0.5s ease;
    position: relative;
    background-image: var(--white-blue-gradient);
    line-height: 14px;
    padding-top: calc((42px - 1em)/2);
    padding-bottom: calc((42px - 1em)/2);
    margin-left: -19px;
    width: 25%;
    display: inline-block;
    text-align: center;
    margin-bottom:0;
    z-index: 1;

}

.btn-side-menu::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #377850, #7365E3 3%, #8e88d5 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}
.side-menu-form .btn-side-menu:hover{
    color: #FFF;
}

.btn-side-menu:hover::before {
    opacity: 1;
  }

  .social-icons {
    margin: 40px 0;
    display: flex;
    gap:10px;
  }

  .social-icons a {
    color:#8a8a8a;
  }


.social-icons .fb:hover {
    color: #3B5998
}

.social-icons .pinterest:hover {
    color: #CB2027;
}

.social-icons .google:hover {
    color: #F04B3F;
}

.social-icons .linkedin:hover {
    color: #007BB6;
}

.social-icons .twitter:hover {
    color: #00ACED;
}

/* MOBILE MENU */

.main-nav-mobiel{
    position: relative;
}

.mobile-menu-wrap{
        padding: 30px 60px;
       display: none;
       position: absolute;
       width: 100%;
       top: 10px;
       left: 0;
       background-color: white;
       z-index: 20;
      
       gap: 30px;
       flex-direction: column;
}

.mobile-menu-wrap.active {
    display: flex;
    box-shadow: -3px 10px 16px -4px rgba(0,0,0,0.09);
}

.mobile-menu-wrap .menu-item-wrapper {
    width:80%;
}

#close-mobile-menu {
    font-size: 35px;
    position: absolute;
    left: 90vw;
    transition: rotate 0.4s;
    animation: 1s infinite alternate closeSpin;
    transform: rotate(90deg);
}

@keyframes closeSpin {
   0%{
        transform: rotate(0);
   }

   60%{
    transform: rotate(0);
   }
   100% {
    transform: rotate(270deg);
   }
}

.mobile-menu-wrap>.menu-item-wrapper>.submenu{
    padding-top:0px;
    padding-left:30px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    gap: 25px;
    height:0px;
    visibility: hidden;
}

.mobile-menu-wrap .menu-item-wrapper>.submenu>.menu-item-wrapper>.submenu{
    height:0;
    visibility: hidden;
}

.mobile-menu-wrap .menu-item-wrapper>.submenu>.menu-item-wrapper>.submenu.active{
    height:auto;
    visibility: visible;
    padding-top:30px;
    padding-left: 60px;
    display:flex;
    flex-direction: column;
    gap: 25px;
}


.mobile-menu-wrap>.menu-item-wrapper>.submenu.active{
    padding-top: 30px;
    height: auto;
    visibility: visible;
}

.mobile-menu-wrap .with-submenu::after{
    content: "\f054";
}


.mobile-menu-wrap .with-submenu.down::after{
    content: "\f078";
}