/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/form.css';
@import '../components/progress-bar.css';
@import '../components/button.css';

/* CUSTOM STYLE */

/* header: start */
@import '../components/header.css';

/* header: end */

/* hero: start */
.section-hero .hero-image img {
    max-width: 100%;
}

.section-hero .hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.section-hero .hero-heading-text {
    font-family: "Montserrat", Sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 1em;
}
@media (min-width: 1200px) {
    .section-hero .hero-heading-text {
        font-size: 76px;
    }
}

@media (min-width: 992px) {
    .section-hero .hero-content-margin {
        margin: 50px 0;
    }
}
@media (min-width: 1200px) {
    .section-hero .hero-content-margin {
        margin: 150px 0;
    }
}

.section-hero .gradient-text {
    background-color: #FF4969;
    background-image: linear-gradient(75deg,#FF4969,#FC9D44 50%);
    background-size: 100%;
    background-clip: text;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-hero .column-paragraph-bigger {
    line-height: 27px;
    color: #696687;
    margin: 30px 0;
}

/*** hero contacts ***/

.section-hero .contact-margin-1 {
    margin-left: 0;
    margin-top: 38px;
    margin-right: 25px;
    margin-bottom: -10px;
    padding: 0;
}
.section-hero .contact-margin-2 {
    margin-left: 0;
    padding: 0;
}

.section-hero .phone-icon {
    width: 30px;
}

.section-hero .hero-phone {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    opacity: 1;
    transition: 0.5s ease;
}
.section-hero .hero-phone:hover {
    color: var(--main-sub-color);
}

.section-hero .hero-email {
    font-size: 11px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    opacity: 1;
    transition: 0.5s ease;
}
.section-hero .hero-email:hover {
    color: var(--main-sub-color);
}

.section-hero a {
    text-decoration: none;
}
/* hero: end */

/* partners: start */
.container.section-partners  {
    padding: 0;
    margin-top: -100px;
    margin-bottom: -100px;
}

.section-partners .partner-logo-img img {
    max-width: 100%;
}

.section-partners .partner-logo-img {
    display: block;
    margin: 0 auto;
    height: 45px;
    padding: 18px 0;
    opacity: 1;
    transition: .5s ease;
}
.section-partners .partner-logo-img:hover {
    opacity: 0.5;
  }
/* partners: end */

/* why choose us: start */

.rectangle-zero {
    margin: 0;
    padding: 0;
}


.row > .left-column {
    margin-top: 150px;
}

.rectangle-text {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    color: #252a3f;
    text-decoration: none;
    font-weight: 800;
    line-height: 1.5em;
    transition: 0.5s;
}

.rectangle-box {
    display: flex;
    flex-direction: column;
    box-shadow: 13px 13px 51px 0px rgba(10, 51, 80, 0.16);
    border-radius: 10px;
    transition: 0.5s;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.rectangle-box:hover {
    background-color: var(--main-dark-color);
    transition: 0.5s;
    
}

.rectangle-box:hover > .rectangle-text {
    color: white;
    transition: 0.5s;
}

.rectangle-img {
    width: 80px;
    padding-bottom: 30px;
}

/* why choose us: end */

/* experiance: start */
.label {
    font-family: 'Rubik' , sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}
.value {
    font-family:'Rubik' , sans-serif;
    font-size: 16px;
}
/* experiance: end */

/* girl with phone: start */

.girl-rectangle {
    border-radius: 10px;
    box-shadow: 13px 13px 51px 0px rgba(10, 51, 80, 0.16);
}

.girl-rect-number {
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 10px;
}

.gradient-text {
    background: var(--red-orange-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.girl-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}
.girl-text {
    width: 100%;
}

.girl-p {
    line-height: 1.5em;
}

.girl-text-column {
    flex-direction: column;
}

.girl-rect-inside {
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.girl-img {
    padding-top: 30px;
}

@media(min-width:768px){
    .girl-text {
        width: 45%;
        padding-bottom: 3%;
        padding-top: 3%;
    }
    .girl-rect-inside {
        padding: 10px;
    }
}

@media(min-width: 992px) {
    .girl-rect-inside {
        padding: 40px;
    }
}
/* girl with phone: end */

/* featured projects: start */


.featured-projects{
    overflow: hidden;
    --slide-height: 290px;
    --slide-width: 400px
}

.featured-projects .headers{
    text-align: center;
    
}

.featured-projects .slides-container {
    /* height:290px; */
    height: var(--slide-height);
    position:relative;
    margin:0;

}

.featured-projects .carousel {
    width:100%;
    margin:0;   
}

.slides-wrapper {
    position:absolute;
    bottom:0;
    display:flex;
    gap: 10px;  
    transform: translate(calc(((var(--slide-width) + 10px) * 4 + (var(--slide-width) / 2) ) * -1  + 50vw), 0px);
    transition: transform 0.4s;
}

.slides-wrapper.slide0{
    transform: translate(calc(((var(--slide-width) + 10px) * 4 + (var(--slide-width) / 2) ) * -1  + 50vw), 0px);
}


.slides-wrapper.slide1{
    transform: translate(calc(((var(--slide-width) + 10px) * 5 + (var(--slide-width) / 2) ) * -1  + 50vw), 0px);
}

.slides-wrapper.slide2{
    transform: translate(calc(((var(--slide-width) + 10px) * 6 + (var(--slide-width) / 2) ) * -1  + 50vw), 0px);
}

.slides-wrapper.slide3{
    transform: translate(calc(((var(--slide-width) + 10px) * 7 + (var(--slide-width) / 2) ) * -1  + 50vw), 0px);
}

.featured-projects .slide{
    width:var(--slide-width);
    position: relative;
    height:var(--slide-height);
    border-radius: 15px;
    overflow: hidden;
}

.slide:hover .headers-wrapper{
    bottom:10%;
}

.slide img{
    width:100%;
}

.slides-navigation2{
    margin: 0 auto;
    width:200px;
    justify-content: center;;
    display:flex;
    gap:30px;    
}

.featured-projects .headers-wrapper{
    position:absolute;
    bottom: 5%;
    left: 10%;
    width: 40%;
    transition: bottom 0.3s;
}

.headers-wrapper h5, .headers-wrapper h4 {
    color:#fff;
    font-family: 'Nunito', sans-serif;
}

.headers-wrapper h4{
    font-size: 18px;
}

.headers-wrapper h5{
    font-size: 12px;
}


.dots3 {
    align-self: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.dots3 li {
margin-right: 12px;
}

.dots3 li:before {
content: '';
height: 10px;
width: 10px;
display: inline-block;
background: var(--violet-elements);
border-radius: 5px;
cursor: pointer;
transition: all 300ms ease;
}

.dots3 li.active:before {
width: 30px;
background: var(--violet-elements);
}

@media(min-width:992px){
    .featured-projects{
        --slide-height: 362px;
        --slide-width: 500px
    }
}

@media(min-width:1200px){
    .featured-projects{
        --slide-height: 435px;
        --slide-width: 600px
    }
}





/* featured projects: end */

/* why choose us 2: start */
.whyus2 .headers{
    text-align: center;
}

.services{
    display: flex;
    gap:30px;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.service-wrapp{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.service{
    /* border: blue 1px solid; */
    flex-grow: 1;
    border-radius: 0.6em;
    padding: 25px 15px;
    /* margin: 35px 20px; */
    box-shadow: rgba(10, 51, 80, 0.1) 13px 13px 51px 0px;
    transition: color 2s;
    transition: background-color 0.5s ease-out;
}

.service:hover{
    background-color: var( --main-dark-color);
}

.service-icon-name-wrapper h4{
    transition: color 0.5s ease-out;
}

.service p {
    transition: color 0.5s ease-out;

}   

.service-wrapp .service:hover p, .service-wrapp .service:hover h4   {
    color:white;
}

.service-icon-name-wrapper{
    display:flex;
    gap:5px;

}
.service-icon{
    width:76px;
    height: 71px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.service1{
    background-image: url("../../img/why-choose-us2-services/home10_service1.png");
}

.service:hover .service1{
    background-image: url("../../img/why-choose-us2-services/home10_service1-active.png");
}

.service2{
    background-image: url("../../img/why-choose-us2-services/home10_service2.png");
}
.service:hover .service2{
    background-image: url("../../img/why-choose-us2-services/home10_service2-active.png");
}

.service3{
    background-image: url("../../img/why-choose-us2-services/home10_service3.png");
}
.service:hover .service3{
    background-image: url("../../img/why-choose-us2-services/home10_service3-active.png");
}

.service4{
    background-image: url("../../img/why-choose-us2-services/home10_service4.png");
}
.service:hover .service4{
    background-image: url("../../img/why-choose-us2-services/home10_service4-active.png");
}

.service5{
    background-image: url("../../img/why-choose-us2-services/home10_service5.png");
}
.service:hover .service5{
    background-image: url("../../img/why-choose-us2-services/home10_service5-active.png");
}

.service6{
    background-image: url("../../img/why-choose-us2-services/home10_service6.png");
}
.service:hover .service6{
    background-image: url("../../img/why-choose-us2-services/home10_service6-active.png");
}

@media (min-width: 768px){
    .service-wrapp{
        width:30%;
    }

    .services{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}
}
/* why choose us 2: end */

/* get free seo analysis?: start */
.section-seo .seo-image img {
    max-width: 100%;
}

.section-seo .column-paragraph-bigger {
    line-height: 27px;
    color: #696687;
    margin-bottom: 25px;
}

/* get free seo analysis?: end */

/* blog: start */
/* blog: end */

/* got new project: start */
    .got_new_project{
        text-align: center;
    }
    .phone_nr{
        display: block;
        text-decoration: none;
    }

    

/* got new project: end */

/* testimonials: start */

.testimonials {
    background-color: #F9FAFB;
}

.testimonials .column1 {
    position: relative;
    z-index: 0;
}

.testimonials .column-paragraph-text {
    margin-top:20px;
}

.column1 .background {
    transform: translate(70px, -68px);
    position: absolute;
    z-index: -1;
}

/* Testimonial ballon and navigation */
    .balloon{
        width:100%;
        border-radius: 10px;
        background-color:#FFF;
        position: relative;
        margin-left:50px;
        box-shadow: rgba(10, 51, 80, 0.1) 13px 13px 51px 0px;
        
    }

    .balloon::before{
        content:"";
        width: 0; 
        height: 0; 
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent; 
        
        border-left:100px solid #FFF; 
        position: absolute;
        bottom:-30px;
        z-index: 0  ;

    }
   
    .slides{
        position:absolute;
        overflow: hidden;
        width:inherit;
        /* transform: translate(-300px, 0); */
    }

    .slides-container{
        display:flex;
        gap:30px;
        transition: all 1s;

    }


    .slide2 {
        flex-shrink: 0;
    
    }

    .balloon-content{
        display: flex;
        align-items: flex-start;
        gap: 20px;
        max-width: 90%;
        max-height: 100%;
        padding: 20px;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        position: relative;
        z-index: 0;
    }

    .balloon-quotes{
        width:5vw;
        max-width: 70px;
        transform: rotate(180deg);
        float:left;
    }

    .author {
        display:flex;
        align-items: center;
        margin-top: 25px;
    }
    .author img {
        width:8vw;
        max-width: 100px;
        border-radius: 4vw;
    }

    .author > .name {
        margin-left:15px;
    }

    .author-name {
        font-weight: bold;
    }
    .author-subname{
        font-size: 15px;
    }


    .slides-navigation{
        margin-top:25px;
        margin-left: 150px;  
        display:flex;
        gap:30px;    
    }

    .dots {
        align-self: center;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .dots li {
    margin-right: 12px;
    }

    .dots li:before {
    content: '';
    height: 10px;
    width: 10px;
    display: inline-block;
    background: var(--violet-elements);
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
    }

    .dots li.active:before {
    width: 30px;
    background: var(--violet-elements);
    }

/* baloon end */

.headers-wrapper{
    transform: none;
}

@media (max-width: 768px){
    .balloon{
        margin-left:0px;
    }
}

.background.animation{
    animation-name:image-slide-up;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
    /* animation-delay: 1s; */
}



.headers-wrapper.animation{
    animation-name: text-slide-up-appear;
    animation-duration: 1.5s;
}

@keyframes image-slide-up{
    0%{
        transform: translate(70px, 70px);
        opacity:0;
    }
    100%{
        transform: translate(70px, -68px);
        opacity:1;
    }
}


@keyframes text-slide-up-appear {
    0% {
        transform: translate(0px,40px);
        opacity:0;
    }
    
    100% {
        transform: translate(0px,0px);
        opacity:1;
    }
  }
  

/* testimonials: end */

/* footer: start */
.footer-top {
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
}

.footer-contacts {
    display: flex;
}

.form-section {
    flex-direction: column;
}

.form-button-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-text {
    line-height: 1.5em;
}

.input {
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;    
    height: 50px;
    background-color: #f7f7f7;
    border: 2px solid #eaedef;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 1em;
    box-sizing: border-box;
}

.footer-columns {
    display: flex; 
    flex-direction: column;
}

.footer-columns-text {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s all;
}

.footer-columns-text:hover{
    color: gray;
    transition: 0.3s all;
}

.footer-img {
    width: 35px;
    object-fit: contain;
    margin-right: 20px;
}

.footer-fonts {
    gap: 20px;
    display: flex;
    margin-top: 20px;
}

.social {
    text-decoration: none;
}

.footer-fonts > .fb {
    color: #3B5998
}

.footer-fonts > .pinterest {
    color: #CB2027;
}

.footer-fonts > .google {
    color: #F04B3F;
}

.footer-fonts > .linkedin {
    color: #007BB6;
}

.footer-fonts > .twitter {
    color: #00ACED;
}

.footer-fonts .social:hover {
    color: black;
}

.section-title {
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EBEBEF;
    position: absolute;
    bottom: -40px;
}
.footer-section-title{
    position: relative;
    margin-bottom: 10px;
}


.footer-section-title::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EBEBEF;
    position: absolute;
    top: -20px;
}


.btn-footer {
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 23px;
    color: white;
    height: 50px;
    border-radius: 5px;
    border: none;
    user-select: none;
    cursor: pointer;

    transition: background-image 0.5s ease; 
    position: relative;
    background-image: var(--white-blue-gradient);
    z-index: 1;
}

.btn-footer::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #a29ccd, #7365E3 3%, #8e88d5 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}
.btn-footer:hover::before {
    opacity: 1;
}

.footer-wrapper {
    display: flex;
    gap: 20px;
}

@media (min-width: 990px){ 
    .footer-top {
        flex-direction: row;
    }
    .footer-contacts {
        flex-direction: column;
        gap: 20px;
    }
    /* .footer-wrapper {
        flex-direction: row;
    } */

}

@media (max-width: 1024px){ 
    .input {
        width: 100%;
    }
    
    .footer-contacts {
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .section-title::after {
        bottom: -20px;
    }
}
@media (min-width: 1200px){ 
    .footer-top > .footer-contacts {
        flex-direction: row;
    }
     .footer-top {
         flex-direction: row;
        }
        .form-section  {
            display: flex;
            flex-direction: row;
        }
        
        .btn-footer {
            padding-left: 60px;
            padding-right: 60px;
        }

    .footer-top {
        align-items: center;
    }

    .footer-contacts {
        flex-direction: row;
        align-items: center;
    }
    }


    @media (max-width: 770px) {
        .footer-contacts{
            align-items: center;
        }
    }
    @media (max-width: 600px){
        .footer-contacts{
            flex-direction: column;
            margin-bottom: 30px;
            align-items: flex-start;
        }
    }
    /* footer: end */