/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/form.css';

/* CUSTOM STYLE */

/* header: start */
@import '../components/header.css';

/* header: end */

/* hero: start */
.section-hero .hero-image img {
    max-width: 100%;
}

.section-hero .phone-icon {
    width: 30px;
}
.section-hero a {
    text-decoration: none;
}
/* hero: end */

/* partners: start */
.container.section-partners  {
    padding: 0;
    margin-top: -100px;
    margin-bottom: -100px;
}

.section-partners .partner-logo-img img {
    max-width: 100%;
}

.section-partners .partner-logo-img {
    display: block;
    margin: 0 auto;
    height: 45px;
    padding: 18px 0;
    opacity: 1;
    transition: .5s ease;
}
.section-partners .partner-logo-img:hover {
    opacity: 0.5;
  }
/* partners: end */

/* why choose us: start */

.rectangle-zero {
    margin: 0;
    padding: 0;
}


.row > .left-column {
    margin-top: 70px;
}

.rectangle-text {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    color: #252a3f;
    text-decoration: none;
    font-weight: 800;
    line-height: 1.5em;
    transition: 0.5s;
}

.rectangle-box {
    display: flex;
    flex-direction: column;
    box-shadow: 13px 13px 51px 0px rgba(10, 51, 80, 0.16);
    border-radius: 10px;
    transition: 0.5s;
    padding: 20px;
}

.rectangle-box:hover {
    background-color: var(--main-dark-color);
    transition: 0.5s;
    
}

.rectangle-box:hover > .rectangle-text {
    color: white;
    transition: 0.5s;
}

.rectangle-img {
    width: 80px;
    padding-bottom: 30px;
}

/* why choose us: end */

/* experiance: start */
.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.progress-bar > .top {
    display: flex;
    justify-content: space-between;
}
.progress-bar > .progress {
    height: 5px;
    background-color: rgb(255, 173, 79);
}
/* experiance: end */

/* girl with phone: start */
.girl-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    
}
.girl-text {
    width: 100%;
}

@media(min-width:768px){
    .girl-text {
        width: 45%;
    }
}
/* girl with phone: end */

/* featured projects: start */
/* featured projects: end */

/* why choose us 2: start */
.whyus2 .headers{
    text-align: center;
}

.services{
    display: flex;
    gap:30px;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.service-wrapp{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.service{
    /* border: blue 1px solid; */
    flex-grow: 1;
    border-radius: 0.6em;
    padding: 25px 15px;
    /* margin: 35px 20px; */
    box-shadow: rgba(10, 51, 80, 0.1) 13px 13px 51px 0px;
    transition: color 2s;
    transition: background-color 0.5s ease-out;
}

.service:hover{
    background-color: var( --main-dark-color);
}

.service-icon-name-wrapper h4{
    transition: color 0.5s ease-out;
}

.service p {
    transition: color 0.5s ease-out;

}   

.service-wrapp .service:hover p, .service-wrapp .service:hover h4   {
    color:white;
}

.service-icon-name-wrapper{
    display:flex;
    gap:5px;

}
.service-icon{
    width:76px;
    height: 71px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.service1{
    background-image: url("../../img/why-choose-us2-services/home10_service1.png");
}

.service:hover .service1{
    background-image: url("../../img/why-choose-us2-services/home10_service1-active.png");
}

.service2{
    background-image: url("../../img/why-choose-us2-services/home10_service2.png");
}
.service:hover .service2{
    background-image: url("../../img/why-choose-us2-services/home10_service2-active.png");
}

.service3{
    background-image: url("../../img/why-choose-us2-services/home10_service3.png");
}
.service:hover .service3{
    background-image: url("../../img/why-choose-us2-services/home10_service3-active.png");
}

.service4{
    background-image: url("../../img/why-choose-us2-services/home10_service4.png");
}
.service:hover .service4{
    background-image: url("../../img/why-choose-us2-services/home10_service4-active.png");
}

.service5{
    background-image: url("../../img/why-choose-us2-services/home10_service5.png");
}
.service:hover .service5{
    background-image: url("../../img/why-choose-us2-services/home10_service5-active.png");
}

.service6{
    background-image: url("../../img/why-choose-us2-services/home10_service6.png");
}
.service:hover .service6{
    background-image: url("../../img/why-choose-us2-services/home10_service6-active.png");
}

@media (min-width: 768px){
    .service-wrapp{
        width:30%;
    }

    .services{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}
}
/* why choose us 2: end */

/* get free seo analysis?: start */
.section-seo .seo-image img {
    max-width: 100%;
}
/* get free seo analysis?: end */

/* blog: start */
/* blog: end */

/* got new project: start */
    .got_new_project{
        text-align: center;
    }
    .phone_nr{
        display: block;
        text-decoration: none;
    }
/* got new project: end */

/* testimonials: start */
/* testimonials: end */

/* footer: start */
    .footer-top {
        display: flex;
        justify-content: space-between; 
        flex-direction: column;
    }

    .footer-contacts {
        display: flex;
    }

    .form-section {
        flex-direction: column;
    }

    .form-button-position {
        display: block;
    }

    .socials-text {
        line-height: 1.5em;
    }

    .input {
        width: 500px;
        height: 50px;
    }

    .footer-columns {
        display: flex; 
        flex-direction: column;
    }
    
    .footer-columns-text {
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: 0.3s all;
    }
    
    .footer-columns-text:hover{
        color: gray;
        transition: 0.3s all;
    }

    .footer-img {
        width: 35px;
        object-fit: contain;
        margin-right: 20px;
    }
    
    .footer-fonts {
        gap: 20px;
        display: flex;
    }
    
    .social {
        text-decoration: none;
    }
    
    .footer-fonts > .fb {
        color: #3B5998
    }
    
    .footer-fonts > .pinterest {
        color: #CB2027;
    }
    
    .footer-fonts > .google {
        color: #F04B3F;
    }
    
    .footer-fonts > .linkedin {
        color: #007BB6;
    }
    
    .footer-fonts > .twitter {
        color: #00ACED;
    }
    
    .footer-fonts .social:hover {
        color: black;
    }
    
    .section-title {
        position: relative;
    }
    
    .section-title::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: gray;
        position: absolute;
        bottom: -40px;
    }
    .footer-section-title{
        position: relative;
        margin-bottom: 10px;
    }
    
    
    .footer-section-title::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: gray;
        position: absolute;
        top: -20px;
    }

    @media (min-width: 1024px){ 
        .footer-top {
            flex-direction: row;
        }
        .footer-top > .form-section {
            flex-direction: column;
        }
        .footer-contacts {
            flex-direction: column;
        }
    }

    @media (max-width: 1024px){ 
        .input {
            width: 100%;
        }

        .footer-contacts {
            justify-content: space-between;
        }
    }
    @media (min-width: 1200px){ 
        .footer-top > .footer-contacts {
            flex-direction: row;
         }
         .footer-top {
             flex-direction: row;
            }
        .form-section  {
            flex-direction: row;
        }
        .form-button-position {
            display: inline;
        }
        .footer-contacts {
            flex-direction: row;
        }
        }
    /* footer: end */